{{ define "components/jail_row.html" }}
<tr id="jail-{{ .Name }}">
    <td>{{ .Name }}</td>
    <td class="status status-{{ .Status }}">{{ .Status }}</td>
    <td>
        {{ if eq .Status "running" }}

        <button hx-post="/jails/{{ .Name }}/stop" hx-target="#jail-{{ .Name }}" hx-swap="outerHTML">
            Stop
        </button>

        <button hx-post="/jails/{{.Name}}/restart" hx-target="#jail-{{ .Name }}" hx-swap="outerHTML">
            Restart
        </button>

        {{ else }}

        <button hx-post="/jails/{{.Name}}/start" hx-target="#jail-{{ .Name }}" hx-swap="outerHTML">
            Start
        </button>

        {{ end }}
    </td>
</tr>
{{ end }}